* {
  font-family: Arial, Helvetica, sans-serif
}

.div {
  background-color: lightblue;
  color: black;
  margin: 50px 300px;
  padding: 40px;
  border: 5px solid black;
  overflow: auto;
  word-spacing: 3px;
}

img {
  float: right;
}

a:link {
  color: red;
}

a:visited {
  color: green;
}

a:hover {
  color: blue;
}

#button {
  background-color: red;
  color: white;
  padding: 10px 20px;
}